@font-face {
	font-family: 'Gill Sans MT';
	src: url('fonts/GillSansMT.eot');
	src: url('fonts/GillSansMT.eot?#iefix') format('embedded-opentype'),
		url('fonts/GillSansMT.woff2') format('woff2'),
		url('fonts/GillSansMT.woff') format('woff'),
		url('fonts/GillSansMT.ttf') format('truetype'),
		url('fonts/GillSansMT.svg#GillSansMT') format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn {
  border: 0;
  margin: 0;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 2em;
}

.green-btn {
  border-width: 4px;
  border-style: solid;
  border-color: #50bf50;
  background: #5bde5b;
  color: white;
}

body, html {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: 'Gill Sans MT';
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

section, footer {
  width: 959px;
  margin: 0 auto;
} 

header {
  width: 100%;
  background: linear-gradient(to bottom, #9CD8DB 0%,#ffffff 100%);
  padding: 30px 20px 0 20px;
}

header > section {
  display: flex;
  flex-direction: row;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-contact {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 60px;
}

.phone {
  font-size: 2.5em;
  text-shadow: 1px 1px rgba(0,0,0,0.4);
  color: white;
}

.phone a {
  text-decoration: none;
  color: inherit;
}

.social img {
  width: 35px;
}

.social a {
  text-decoration: none;
}

.social a + a {
  margin-left: 15px;;
}

nav {
  flex: 1;
  display: flex;
  align-items: flex-end;
  padding-left: 50px;
}

.navlist {
  list-style: none;
  display: flex;
}

.navlist > li {
  font-size: 1.8em;
  text-transform: capitalize;
}

.navlist > li + li {
  margin-left: 30px;
}

.navlist > li > a {
  text-transform: capitalize;
  text-decoration: none;
  color: #3c3c3c;
}

.navlist > li > a:hover {
  text-decoration: underline;
}

.banner {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.4);
  position: relative;
  background-image: url(images/HOME/BannerImage.jpg);
  background-position: center;
  background-size: cover;
  height: 366px;
}

.banner-btn {
  position: absolute;
  right: 130px;
  bottom: 65px;
}

article h2 {
  margin: 40px 0;
  text-align: center;
  color: #50bf50;
  font-size: 1.9em;
  font-style: italic;
}

.split {
  display: flex;
  flex-direction: row;
}

.call-out-bubble-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.call-out-bubble {
	position: relative;
  background: #1d5e22;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}

.call-out-bubble h3 {
  margin: 0;
  text-align: center;
  font-style: italic;
}

.call-out-inner {
  border: 2px solid white;
  border-radius: 15px;
  padding: 4px 20px;
}

.call-out-bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(29, 94, 34, 0);
	border-top-color: #1d5e22;
	border-width: 20px;
	margin-left: -20px;
}

.split ul p {
  margin-left: 5px;
}

.split-left, .split-right {
  flex: 50%;
}

article p {
  color: #7c7c7c;
  line-height: 35px;
  font-size: 1.6em;
  margin-left: 55px;
  margin-right: 55px;
}

.embellish {
  border-bottom: 2px solid #50bf50;
  padding-bottom: 4px;
  margin: 0 auto;
}

.pricing-table {
  margin: 40px auto 0 auto;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
}

.pricing-table .row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.pricing-table .row.head > div {
  background: #1d5e22!important;
  color: white!important;
}

.pricing-table .row div {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-table tr td {
  padding: 10px 0;
}

.pricing-table .row:nth-child(odd) div {
  background: #78C173;
}

.pricing-table .row:nth-child(even) div {
  background: rgba(0, 0, 0, 0.05);
}

.pricing-detail {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.pricing-detail p {
  margin: 5px 0;
}

/* Responsive Styles */

@media (max-width: 958px) {
  section, footer {
    width: 100%;
  }

  .split {
    flex-direction: column;
  }

  .split-left, .split-right {
    flex: 100%;
  }

  section:not(.banner):not(.header-inner), footer {
    padding: 0 15px;
  }

  .banner button {
    display: none;
  }

  .nav {
    font-size: 10px;
  }

  .banner {
    max-width: 100%;
    height: 275px;
  }

  article > p {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 799px) {
  .header-inner {
    flex-direction: column;
    position: relative;
  }

  .logo-container {
    display: block;
  }

  .header-contact {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  nav, nav > ul {
    padding-left: 0px;
  }

  nav {
    margin-top: 10px;
  }

  article h2 > img {
    max-width: 100%;
  }
}

@media (max-width: 710px) {
  .banner {
    height: 225px;
  }
}

@media (max-width: 524px) {
  .logo-container {
    text-align: center;
  }
  .header-contact {
    position: initial;
    align-items: center;
    padding: 0;
  }
  .phone a {
    color: #50bf50;
  }
  header {
    padding: 15px;
  }
  .banner {
    background-position: 99% 0;
  }
  .social {
    margin-top: 15px;
  }
  .nav {
    text-align: center;
    padding: 10px 0;
  }
  nav {
    display: none;
  }
}

@media (max-width: 395px) {
  .banner {
    height: 175px;
  }
}